
.container{
	width: 1200px;
	margin: 0 auto;
}

.content{
	width: 900px;
	margin: 0 auto;
	float: left;

}

.content img{
	max-width: 900px;
}

.constructor{
	margin-top: 120px;
	display: inline-block;
	max-width: 300px;
	float: right;
}

.colorList{
	display: flex;
}

.colorItem{
	margin: 5px;
	border: 1px solid #888;

}
